/* .board-row {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.board-container {
  margin: 20px;
  padding: 10px;
} */


/* Add this CSS to your App.css or index.css */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.board-container {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
}

.square:hover {
  background-color: #e0e0e0;
}

button:hover {
  background-color: #45a049;
}

